@import url('https://fonts.googleapis.com/css?family=Secular+One');

div{
	font-family: 'Secular One', sans-serif;
}
header{
	padding: 1%;
}

header button{
	bottom: 0;
}

footer{
	width:100%;
	position:relative;
	bottom:0;
	left:0;
}

label{
	font-weight: bold;
}

.row{
	padding: 3% 0;
}

.nav-pills li{
	background-color: #b6cee3;
}

#info-lateral img{
	width: 50%;
	height: 50%;
	margin: 5% 40%;
}

.form-group {
	margin: 1%;
}

.panel-primary{
	margin:1%;
}

.btn-primary{
	margin:1% 40%;
}
.input-append input{
	height: 100%;
}

#tblExamen {
	border-collapse: collapse;
	width: 100%;
}

#tblExamen th, td {
	padding: 3%;
	text-align:left;
	border-bottom: 1px solid #ddd;
}

.fades-in{
	width: 70%;
	height: 70%;
	margin: 15%;
	z-index: 2;
	position:fixed;
	left: 0;
	top: 0;
}
#codigoGen{
	width: 70%;
	height: 70%;
	margin: 20%;
	z-index: 1;
	position:fixed;
	left: 0;
	top: 0;
}

#codigoGen .panel .panel-body .btn-group{
	margin: 1% 35%;
}

#btnDescartar{
	margin:1% 250%;
	float: left;
}

#btnGuardar{
	margin:1% 450%;
	float: left;
}

.scroll{
	margin: 2% 10%;	
}
.scroll table th, td{
	width:50%;
	padding: 0 2%;
	text-align:left;
	border-bottom: 1px solid #ddd;
}

.disabled{
	pointer-events: none; 
}

#bcTarget{
	margin: 0 33%;
}