header{
	padding: 1%;
}

header button{
	bottom: 0;
}

footer{
	width:100%;
	position:relative;
	bottom:0;
	left:0;
}

label{
	font-weight: bold;
}

.row{
	padding: 3% 0;
}

.nav-pills li{
	background-color: #b6cee3;
}

#info-lateral img{
	width: 50%;
	height: 50%;
	margin: 5% 40%;
}

.form-group {
	margin: 1%;
}

.panel-primary{
	margin:1%;
}

.btn-primary{
	margin:1% 40%;
}
.input-append input{
	height: 100%;
}

#tblExamen {
	border-collapse: collapse;
	width: 100%;
}

#tblExamen th, td {
	padding: 8px;
	text-align:left;
	border-bottom: 1px solid #ddd;
}